.slick-slider {
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}

.slick-slide {
}
.slick-slide.slick-active {
}
.slick-slide.slick-current {
}
.slick-slide.slick-center {
}

.slick-arrow {
}
.slick-arrow.slick-prev {
}
.slick-arrow.slick-next {
}
.slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slick-dots {
}
.slick-dots li {
}
.slick-dots button {
}
